*.bin
*.html
tmp2.inp
BWSN1.txt
BWSN1_temp.inp
*.asv
INPDIFF.txt
tmp1.inp
TestReport5.txt
TestReport2.txt
TestReport.txt
TestReport3.txt
TestReport4.txt
BWSN1_temp.txt
Net1.txt
Net1_temp.txt
Net3_temp.txt
Net1_temp.inp
s4mc
Net2.txt
Net2_temp.inp
Net2_temp.txt
Net3.txt
Net3_temp.inp